/*  #F9FAF8 - white  #1F2937 - dark blue   #3882F6 - light blue*/

* {
    box-sizing: border-box;
    font-family: Roboto, serif;
    color: #F9FAF8;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.header, .main, .footer {
    background-color: #1F2937;
}

li {
    list-style: none;;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    
}

.information, .sign-up {
    background-color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: black;
}

.quote .author {
    font-weight: 900;
    color: black;
}

.sign-up .title {
    font-weight: 900;
}

.sign-up button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.main .title {
    font-size: 48px;
    font-weight: 900;
}

.main button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-width: 0px;
    border-radius: 5px;
}

.main .image {
    background-color: gray;
} 

.information .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.subtext {
    color: #1F2937;
}

.images .image {
    border: 2px solid #3882F6;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
}


.container {
    padding: 0px 300px;
}

.header .container {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
}

.main .container {
    display: flex;
    justify-content: space-between;
    margin: 120px 0px;
}

.main .block {
    width: 48%;
}

.main .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
}

.main .subtitle {
    margin: 15px 0px;
}

.main button {
    padding: 5px 25px;
}

.main .image {
    align-content: center;
    text-align: center;
}

.footer {
    padding: 30px 0px;
    text-align: center;
}

.sign-up button {
    padding: 5px 25px;
}

.sign-up .container {
    margin: 80px 300px;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
}

.quote .container {
    margin: 100px 50px;
}

.quote .text {
    text-align: left;
}

.quote .author {
    text-align: right;
    margin-top: 20px;
}

.information  {
    text-align: center;
}

.information .title {
    margin: 30px 0px;
}

.information .images {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
    

.images .image {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.subtext {
    max-width: 200px;
}

.images div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
